{% include 'header.html' %}
<head>
    

</head>
<body style="color:green;background-color: lightblue;">
    <div class="form-float">
        <div class="container">
            {% if messages %}
                
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
                    {% endfor %}
                
            {% endif %}
        </div>
        <a href="{% url 'showemp' %}" ><button class="btn btn-dark mb-3" style ="float: right;">Show Employee</button></a>
    

{% block body%}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="containder" style="margin-top:50px">
<h2 class="text-center" style="border-bottom:2px solid black ;margin-left: 200px;margin-right: 200px;">Add an Employee</h2>
<br><br>
<form action="" method="POST" id="EmployeeAdd" name="Employe" data-states-url="{% url 'ajax_load_states'%}" data-cities-url="{% url 'ajax_load_cities'%}">
    {% csrf_token %}
    <div style="color:black" class="container col-md-6">
        <label>First Name</label>
        <input type="text" class="form-control" name="firstname" id="firstname" >
    </div>

    <div style="color:black" class="container col-md-6">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" >
    </div>

    <div style="color:black" class="container col-md-6 mt-3 ">
        <label>Gender:</label>
        <select name="gender" id="gender" >
            <option value="" id="">---gender---</option>
            <option value="male" id="">Male</option>
            <option value="female" id="">Female</option>

            <option value="other" id="">Other</option>
        </select>
        <!-- <select name="gender" id="gender" class="form-control">
            <option value="">---Gender---</option>
            {% for i in gender %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
            </select> -->
            
    </div>

    <div style="color:black" class="container col-md-6">
        <label>Email</label>
        <input type="text" class="form-control" name="email" id="email" >
    </div>

    <div style="color:black" class="container col-md-6">
        <label>Address</label>
        <input type="text" class="form-control" name="address" id="address">
    </div>

    

    <div style="color:black" class="container col-md-6">
    <label >Country</label>
    <select name="country" id="country" class="form-control" >
    <option value="">---Country---</option>
    {% for i in country %}
    <option value="{{i.id}}">{{i.name}}</option>
    {% endfor %}
    </select>
    </div>



    <div style="color:black" class="container col-md-6">
    <label >State</label>
    <select name="state" id="state" class="form-control" >

    </select>
    </div>
    

    <div style="color:black" class="container col-md-6">
    <label >City</label>
    <select name="city" id="city" class="form-control" >

    </select>
    </div>

    <div style="color:black" class="container col-md-6">
        <label>Pincode</label>
        <input type="number" class="form-control" name="pincode" id="pincode" >
    </div>


    <div style="color:black" class="container col-md-6">
        <label>Created At</label>
        <input type="date" class="form-control" name="createdat" id="createdat" >
    </div>
    
    <div style="color:black" class="container text-center">
        <input type="submit" class="btn btn-primary m-5" value="Save">
    </div>
     

</form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  
                <script>
                    $("#country").change(function(){
                        
                        const url = $("#EmployeeAdd").attr("data-states-url");
                        const countryId = $(this).val();

                        $.ajax({
                            url:url,
                            data:{
                                'country_id':countryId
                            },
                            success: function(data){
                                $("#state").html(data);
                            }
                        })
                    })
                </script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  
<script>
    $("#state").change(function(){
        
        const url = $("#EmployeeAdd").attr("data-cities-url");
        const stateId = $(this).val();

        $.ajax({
            url:url,
            data:{
                'state_id':stateId
            },
            success: function(data){
                $("#city").html(data);
            }
        })
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
$(document).ready(function() {
$("#EmployeeAdd").validate({
rules: 
{
    firstname : {
    required: true
    },
    lastname: {
    required: true
    },
    email: {
    required: true,
    email: true
    },
    pincode:{
        required:true,
        number:true,
        min:4
    },
    address:{
        required:true
    },
    gender:{
        required:true
    },
    country:{
        required:true
    },
    state:{
        required:true
    },
    city:{
        required:true
    },
    createdat:{
        required:true
    },
},
message:{
    firstname:"",
    lastname:"Please Enter last name",
    email:"Please Enter email",
    pincode:"Please Enter pincode",
    address:"Please Enter address",
    gender:"Please select your gender",
    country:"Please select your country",
    state:"Please select your country",
    city:"Please select your country",
    createdat:"please choose the date of creation"
}
});
});
</script>


{% endblock %}
</body>
