{% include 'header.html' %}



<body>
    <div class="form-float">
        <div class="container">
            {% if messages %}
                
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
                    {% endfor %}
                
            {% endif %}
        </div>
        <a href="{% url 'showemp' %}" ><button class="btn btn-dark m-3" style ="float: right;">Show Employee</button></a>
        <div class="row">
            <div class="col-md-4">
                <form action="" method="POST" id="EmployeeAdd" class="m-3" data-states-url="{% url 'ajax_load_states'%}" data-cities-url="{% url 'ajax_load_cities'%}">
                    <h5 style="border-bottom:2px solid black ">Add an employee</h5>
                    {%csrf_token%}
                    {% for field in form%}

                    <label for="" class="form-label">{{field.label}}</label>
                    {{field}}
                    <br>
                    
                    {% endfor %}
                    
                    <input type="submit" class="btn btn-primary m-5" value="Save">
                </form>
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  
                <script>
                    $("#id_country").change(function(){
                        
                        const url = $("#EmployeeAdd").attr("data-states-url");
                        const countryId = $(this).val();

                        $.ajax({
                            url:url,
                            data:{
                                'country_id':countryId
                            },
                            success: function(data){
                                $("#id_state").html(data);
                            }
                        })
                    })
                </script>              

  
                <script>
                    $("#id_state").change(function(){
                        const url = $("#EmployeeAdd").attr("data-cities-url");
                        const stateId = $(this).val();

                        $.ajax({
                            url:url,
                            data:{
                                'state_id':stateId
                            },
                            success: function(data){
                                
                                $("#id_city").html(data);
                            }
                        })
                    })
                </script>

            </div>
        </div>
</body>
