{% include 'header.html' %}
<h5>{{message}}</h5>

    <div class = "card shadow m-5" style="background:grey">
        <div class = "card-body">
        
            <h3 class="text-center" style = "border-bottom : 4px solid rgb(22, 21, 21)"> Signin to your account</h3>

            <div class="container-fluid" style="margin-top: 50px;">
                <form  method="post">
                    {% csrf_token %}
                    <div class="form-row">
                    
                    

                        <div class="col-sm-6">
                            <div class="form-group m-2" >
                                <label><h5>Email</h5></label>
                                <input type="email" name="email" class="form-control" placeholder="Enter your Email"  required>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group m-2" >
                                <label><h5>Password</h5></label>
                                <input type="password" name="password" class="form-control" placeholder="Enter your Password"  required>
                            </div>
                        </div>
                        
                        <input type="submit" value="Login" class="m-2 px-3 btn btn-success mt-4">
                        <div>
                            
                            <a href="{% url 'forget-password'%}">Forget Password</a>
                        </div>

                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

