{% include 'header.html' %}

{% block content %}
{% if messages %}
<div class="container">
    {% if messages %}
        
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
            {% endfor %}
        
    {% endif %}
</div>
                {% endif %}
<div class="row m-3" >
    <div-col-sm-8 offset-2 class="m-3">
        <h5 style="border-bottom:2px solid black "> Update Admin Information </h5>
        <form action="" method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Update">
            <a href="{% url 'showadm' %}" class="btn btn-info">Back to Admin</a>
        </form>
    </div>
</div>
{% endblock content %}